@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.App {
  text-align: center;
  /*background-image: url("/src/movie.jpg");
  background-repeat: no-repeat;*/

}
 
 

body{
  background-color: #282c34;
  /*background-image: url(https://static.lexpress.fr/medias_12238/w_640,h_358,c_fill,g_center/v1592636681/une-salle-de-cinema-vide-a-perpignan_6266294.jpg);*/
  background-image: url("/src/salle-cinema.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
 
button.AddButton {
  margin-bottom: 3rem!important;
  width: 25%;
 
}
.stars {
  color: gold;
  font-size: 30px;
}
.rate-search{
    color: antiquewhite;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 13px;
}
.search-section {
  margin-top: 3%;
  
}
.search-section input {
  width: 59%;
  border: 1px solid lightgray;
  color: grey;
  padding-left: 10px;
  padding: 8px 0 8px 10px;
}
img {
  width: 250px;
  height: 327px;
  
}